= form_with model: user_cheering, url: url do |form|
  - if user_cheering.errors.present?
    .card-panel.red
      = user_cheering.errors.full_messages.join(' ,')

  = form.hidden_field :employee_role, value: user_cheering.employee_role
  = form.text_area :text, required: true, placeholder: 'Твой подбадривающий текст', class: 'materialize-textarea'
  = form.submit 'Запомнить', class: 'btn waves-effect waves-light'
