#index-banner.section.no-pad-bot
  .container
    %br/
    = link_to "Игра", game_path, class: "btn waves-effect waves-light"
    %br/
    %h1.header.center
      1 vs 100
    - @cheerings.each do |cheering|
      %h5.center
        = render partial: "web/home/cheerings/#{cheering.employee_role}", locals: { cheering: cheering }
        %br/
        %br/

    - if @new_cheering.present?
      %h5.center
        = render partial: "web/home/roles/#{@new_cheering.employee_role}"
        = render partial: 'form', locals: { user_cheering: @new_cheering, url: user_cheerings_path }
    - else
      %h5.center
        = button_to "Начать сначала", session_path, method: :delete, class: "btn waves-effect waves-light"
